<a href="https://colab.research.google.com/github/alwaysArijit/literate-statistics/blob/master/PythonDataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Number Data Type

In [0]:
a = 10
b = 3.14
c = 2+3j
d = True

In [0]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

String Data Type

In [0]:
v1 = 'Hello'
v2 = "Hello"

In [0]:
print(type(v1))
print(type(v2))

<class 'str'>
<class 'str'>

In [0]:
word = "I will crack Nielsen Interview"

In [14]:
len(word)

30

In [22]:
word[0:30].upper()

'I WILL CRACK NIELSEN INTERVIEW'

List Data Type

In [37]:
numlist = [10,20,30,40,50,50]
numlist

[10, 20, 30, 40, 50, 50]

In [38]:
numlist.append(60)
numlist

[10, 20, 30, 40, 50, 50, 60]

In [39]:
numlist.reverse()
numlist

[60, 50, 50, 40, 30, 20, 10]

In [40]:
numlist.insert(0,70)
numlist

[70, 60, 50, 50, 40, 30, 20, 10]

In [41]:
numlist.pop(2)
numlist

[70, 60, 50, 40, 30, 20, 10]

Dictionary Data Type

In [56]:
courses = {1 : "Statistics",
           2 : "Data Mining",
           'three' : "Big Data"}
courses

{1: 'Statistics', 2: 'Data Mining', 'three': 'Big Data'}

In [60]:
courses['three']

'Big Data'

In [58]:
courses['four'] = "Finance"
courses

{1: 'Statistics', 2: 'Data Mining', 'four': 'Finance', 'three': 'Big Data'}

Tuple Data Type

In [3]:
animals = (10,10,20,30,'tiger','lion','giraffe','tiger')
animals

(10, 10, 20, 30, 'tiger', 'lion', 'giraffe', 'tiger')

In [62]:
animals[-1]

'tiger'

In [63]:
animals.count('tiger')

2

Set Data Type

In [1]:
myset = {10,10,20,30,'London','Paris','London'}
myset

{10, 20, 30, 'London', 'Paris'}

Named Tuple Data Type

In [0]:
from collections import namedtuple

In [33]:
a = namedtuple('Course','Name, Technology')
s = a('Data Science','Python')
s

Course(Name='Data Science', Technology='Python')

In [34]:
s = a._make(['Software Development','Java'])
s

Course(Name='Software Development', Technology='Java')

Arrays in Python

In [0]:
import array as arr

In [27]:
a = arr.array('i',[1,3,5,7,9])
a

array('i', [1, 3, 5, 7, 9])

In [43]:
for x in a[1:-1]:
  print(x * 5)

15
25
35

In [44]:
b = 0
while b < len(a):
  print(a[b] * 5)
  b = b + 1

5
15
25
35
45

Hash Table and Hash Map

In [19]:
my_dict = {'Jasmine':'001','Breaha':'002','Lisbeth':'003'}
print(my_dict)
type(my_dict)

{'Jasmine': '001', 'Breaha': '002', 'Lisbeth': '003'}

dict

In [10]:
new_dict = dict()
print(new_dict)
type(new_dict)

{}

dict

In [11]:
new_dict['Jasmine'] = '001'
new_dict['Breaha'] = '002'
new_dict['Lisbeth'] = '003'
new_dict

{'Breaha': '002', 'Jasmine': '001', 'Lisbeth': '003'}

In [12]:
new_dict = dict(Jasmine = '001', Breaha = '002')
new_dict

{'Breaha': '002', 'Jasmine': '001'}

In [13]:
emp_dict = {'Employees':{'Jasmine':{'Salary':'2000','Designation':'Assistant'},
                         'Breaha':{'Salary':'1000','Designation':'Cashier'}}}
emp_dict

{'Employees': {'Breaha': {'Designation': 'Cashier', 'Salary': '1000'},
  'Jasmine': {'Designation': 'Assistant', 'Salary': '2000'}}}

In [30]:
emp_dict = {'Employees':{'Employee1':{'Name':'Jasmine','Salary':'2000','Designation':'Assistant'},
                         'Employee2':{'Name':'Breaha','Salary':'1000','Designation':'Cashier'}}}
emp_dict

{'Employees': {'Employee1': {'Designation': 'Assistant',
   'Name': 'Jasmine',
   'Salary': '2000'},
  'Employee2': {'Designation': 'Cashier', 'Name': 'Breaha', 'Salary': '1000'}}}

In [14]:
print(my_dict['Jasmine'])
print(my_dict.get('Breaha'))
print(my_dict.keys())
print(my_dict.values())

001
002
dict_keys(['Jasmine', 'Breaha', 'Lisbeth'])
dict_values(['001', '002', '003'])

In [20]:
my_dict['Breaha'] = '001'
my_dict['Jasmine'] = '002'
my_dict['Alex'] = '004'
my_dict

{'Alex': '004', 'Breaha': '001', 'Jasmine': '002', 'Lisbeth': '003'}

In [21]:
my_dict.popitem()

('Alex', '004')

In [22]:
del my_dict['Lisbeth']
my_dict

{'Breaha': '001', 'Jasmine': '002'}

In [0]:
import pandas as pd

In [31]:
df = pd.DataFrame(emp_dict['Employees'])
df

             Employee1 Employee2
Name           Jasmine    Breaha
Salary            2000      1000
Designation  Assistant   Cashier